- remote_form_for([:admin, @cat], :html => one_submit_only(:cat)) do |f|
  = link_to_close new_admin_cat_path
  = f.error_messages
  = render :partial => "admin/cats/form", :locals => { :f => f }
  .buttonbar
    = f.submit t(:create_cat)
    #{t :or}
    = link_to_cancel new_admin_cat_path
